/*=============RESET==========*/   
* {
    padding: 0;
    border: none;
    outline: none;
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}